<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <title>Floppa*</title>
        <!-- <link rel="stylesheet" type="text/css" href="1.css"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'image_processing/login.css' %}">
    </head>

    <body>
        <div id="login_window">
            <div class="Row">
                <div class="Column" style="text-align:left; width:25%">
                    <!-- <img src="../pic/back&#45;plane.png" style="width:100%"> -->
                    <img src="{% static 'image_processing/images/back-plane.png' %}" style="width:100%">
                </div>
                <div class="Column Floppa_title">
                    <i>Floppa*</i>
                </div>
                <div class="Column"></div>
            </div>

            <div class="Row" style="height:180px"></div>

            <div class="Row" style="height:40px">
                <div class="Column" style="text-align:left; width:25%"></div>
                <div class="Column Big_text">
                    Авторизация
                </div>
                <div class="Column"></div>
            </div>

            <div class="Row" style="height:40px">
                <div class="Column" style="text-align:left; width:25%"></div>
                <div class="Column Small_text">
                    Введите ваши регистрационные данные для входа в систему.
                </div>
                <div class="Column"></div>
            </div>
            <div class="Row" style="height:20px"></div>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="Row" style="height:40px">
                    <div class="Column" style="text-align:left; width:25%"></div>
                    <div class="Column Small_text">
                    <td>{{ form.username }}</td>
                    </div>
                    <div class="Column"></div>
                </div>

                <div class="Row" style="height:40px">
                    <div class="Column" style="text-align:left; width:25%"></div>
                    <div class="Column Small_text">
                        <td>{{ form.password }}</td>
                    </div>
                    <div class="Column"></div>
                </div>

                <div class="Row" style="height:40px">
                    <div class="Column" style="text-align:left; width:25%"></div>
                        <div class="Column Small_text">
                            <input id="enter_b" type="submit" class="b_style1" value="Вход" onclick="enter_b()"></input>
                            <input type="hidden" name="next" value="{{ next }}" />
                        </div>
                    <div class="Column"></div>
                </div>
            </form>
        </div>

        <script>
            function enter_b() {
                console.log('enter')
                var en_b = document.getElementById('enter_b');
            }
        </script>
    </body>
</html>
