<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <title>Floppa*</title>
        <link rel="stylesheet" type="text/css" href="{% static 'image_processing/make_markup.css' %}">
    </head>

    <body>
        {# <p>{{ nn.pk }}</p> #}
        {# <p>{{ img_pk }}</p> #}
        {# <p>{{ idx }}</p> #}
        {# <p>{{ json_arg }}</p> #}
        {# {% if inc_json %} #}
        {# <p>{{ inc_json }}</p> #}
        {# {% endif %} #}
        <div id="choose_window">
            <div class="Row">
                <div class="Column" style="text-align:left; width:25%">
                    <img src="{% static 'image_processing/images/back-plane.png' %}" style="width:100%">
                </div>
                <div class="Column Floppa_title">
                    <i>Floppa*</i>
                </div>
                <div class="Column"></div>
            </div>

            <div class="Row" style="height:40px;width:100%">
                <div class="Column center_b">
                    <a id="b1" href="{% url 'image_processing:nn_images_preview' nn.pk %}" class="knopka01" onclick=go_back()>Назад</a>
                </div>
                <div class="Column center_b">
                    <select id='defect_option'>
                        {% for cat in nn.categories.all %}
                        <option>{{ cat.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="Column center_b">
                    <input id="b2" type="button" class="knopka01" onclick="to_draw()" value="Pисовать"></input>
                </div>
                <div class="Column center_b">
                    <input id="b2" type="button" class="knopka01" onclick="to_delete()" value="Удалить"></input>
                </div>
                <div class="Column center_b">
                    <form id="save_pic_form" type="submit" method="POST" action="{% url 'image_processing:make_markup' nn.pk img_pk idx %}">
                    {% csrf_token %}
                        <input id="hidden_input" type="hidden" name='json_inc'>
                        <input id="b2" type="submit" class="knopka01" value="Сохранить">
                    </form>
                </div>
            </div>

            <div id="pic_box" class="pic_box" style="width:100%; height:600px">
                <!-- canvas here -->
                <canvas id="canvas" width="100" height="100">
                    <p>Ваш браузер не поддерживает рисование.</p>
                </canvas>
            </div>

            <div class="Row" style="height:40px">
                <div class="Column">
                    <input id='file1' type=hidden value='{{ json_arg }}'>
                    <input id='file2' type=hidden value='../pic/cross.png'>
                </div>
                <div class="Column">
                    <div class="Row">
                        <div class="Column center_b">
                            <input id="b1" type="button" class="knopka01" value="<" onclick=prev_picture()>
                        </div>
                        <div class="Column t_monts" style="text-align:center;vertical-align:center">
                            <input id="counter" type="button" class="knopka01" value="">
                        </div>
                        <div class="Column center_b">
                            <input id="b1" type="button" class="knopka01" value=">" onclick=next_picture()>
                        </div>
                    </div>
                </div>
                <div class="Column">
                    <div class="Row">
                        <div class="Column"></div>
                        <div class="Column center_b">
                            <input id="b1" type="button" class="knopka01" value="+" onclick=zoom_in()></input>
                        </div>
                        <div class="Column center_b">
                            <input id="b1" type="button" class="knopka01" value="-" onclick=zoom_out()></input>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function go_back() {
                console.log('go_back')
            }
            function prev_picture() {
                console.log('prev_picture')
            }
            function next_picture() {
                console.log('next_picture')
            }
            function zoom_in() {
                console.log('zoom_in')
            }
            function zoom_out() {
                console.log('zoom_out')
            }
        </script>
        <script src="{% static 'image_processing/make_markup.js' %}"></script>
    </body>
</html>
